<div class="row" id="a1">
    <div class="col-md-8 mb_center">
        <h2 class="heading mb_font" >เมนูแนะนำจากทางร้าน</h2>
        <hr class="heading_space"/>
        <div class="slider_wrap">
            <div id="service-slider" class="owl-carousel"> 
            <% seafoodsSuggestLists.map(food => { %> 
                <div class="item">
                        <div class="item_inner">
                            <div class="image">
                                <img class="mb_img_fixed" src='<%= food.imagePath%>' alt="Services Image"/>
                                <a href="#"></a>
                            </div>
                            <h3 style="text-align: center;">
                                <a class="mb_menu_size"><%=food.name%></a>
                            </h3>
                            <p class="mb_menu_price"><%=food.price%> บาท</p>
                        </div>
                    </div>
            <% }) %>
            </div>

        </div>
    </div>
    <div class="col-md-4 mb_center">
        <h2 class="heading mb_font mb--hide">เมนูของเรา</h2>
        <hr class="heading_space"/>
        <ul class="menu_widget mb_left">
            <% for(var i=0; i<foods.length; i++) {%>
                <li class="mb_font_list">
                    <%= foods[i].name%>
                    <span><%=foods[i].price %>
                        บาท</span>
                </li>

            <% } %>

        </ul>
        <h3></h3>

    </div>
</div>